*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
table{
  border: 1px solid #000;
  width: 80rem;
  height: 1rem;
}
.button_size{
  width: 2rem;
  height: 2rem;
}
.note_block{
  margin: 0.8rem 0.8rem 0 0.8rem;
  height: 16.2rem;
  width: 84rem;
  position: relative;
}
.clearjob{
  position: relative;
  left: 53rem;
}
#blockprofilde{
  width: 24rem;
  height: 24rem;
  border-radius: 0.4rem;
  position: absolute;
  right: 0;
  top: 0;
}
.mt-100{
  position: relative;
  top: 16rem;
}
#button_post{
  border-radius: 0.4rem;
}
.inpt_job{
  width: 300px;
  margin-left: 40rem;
  margin-bottom: 100px;
  margin-top: 60px;
  outline-style: none;
  font-size: 2rem;
}
#butsub{
  font-size: 2rem;
  border: none;

}
.inpt_jobs{
  width: 300px;
  margin-bottom: 40px;
  outline-style: none;
  font-size: 2rem;
  margin-left: 36px;
}
.inpt_jobss{
  width: 300px;
  margin-bottom: 40px;
  outline-style: none;
  font-size: 2rem;
  margin-left: 10px;
}
.inpt_jobsss{
  width: 300px;
  margin-bottom: 40px;
  outline-style: none;
  font-size: 2rem;
  margin-left: 45px;
}
#butupdat{
  width: 15rem;
    height: 3rem;
    margin-left: 116px;
}