*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
table{
  border: 1px solid #000;
  width: 80rem;
  height: 1rem;
}
.button_size{
  width: 2rem;
  height: 2rem;
}
.note_block{
  margin: 0.8rem 0.8rem 0 0.8rem;
  height: 16.2rem;
  width: 84rem;
  position: relative;
}
.clearjob{
  position: relative;
  left: 53rem;
}
#blockprofilde{
  width: 24rem;
  height: 24rem;
  border-radius: 0.4rem;
  position: absolute;
  right: 0;
  top: 0;
}
.mt-100{
  position: relative;
}
#button_post{
  border-radius: 0.4rem;
}
.inpt_job{
  width: 300px;
  margin-left: 40rem;
  margin-bottom: 100px;
  margin-top: 20rem;
  outline-style: none;
  font-size: 2rem;
  border-radius: 10rem;
}
#butsub{
  font-size: 2rem;
  border: none;
  border-radius: 10rem;

}
.inpt_jobs{
  width: 300px;
  margin-bottom: 40px;
  outline-style: none;
  font-size: 2rem;
  margin-left: 36px;
}
.inpt_jobss{
  width: 300px;
  margin-bottom: 40px;
  outline-style: none;
  font-size: 2rem;
  margin-left: 10px;
}
.inpt_jobsss{
  width: 300px;
  margin-bottom: 40px;
  outline-style: none;
  font-size: 2rem;
  margin-left: 45px;
}
#butupdat{
  width: 134px;
    height: 3rem;
    margin-left: 116px;
}
input#test {
  width: 134px;
  margin-left: 118px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
#imguser{
  width: 15rem;
    height: 15rem;
    position: absolute;
    top: 2rem;
    border-radius: 40rem;
    left: 52rem;
    border: 1px solid #ccc;
}
#hello{
  font-size: 3.6rem;
  position: absolute;
}
#semail{
  font-size: 2.4rem;
  position: absolute;
  top: 50px
}
#img_user{
  width: 15rem;
    height: 15rem;
    top: 2rem;
    border-radius: 40rem;
    left: 52rem;
    border: 1px solid #ccc;
}
#deleimg{
  position: absolute;
  bottom: -28px;
  left: 50px;
  background: none;
  outline-style: none;
  border-radius: 10rem;
  font-weight: 500;
}
#pagination{
  z-index: 9999;
}
#testli{
  background-color: #000;
  z-index: 9999;
}
#butsignout{
  height: 3.2rem;
    font-size: 1.8rem;
    width: 10rem;
    background-color: #1890ff;
    color: #fff;
    cursor: pointer;
}
span#email {
  position: absolute;
  top: 6rem;
  font-size: 2rem;}
  .container.mt-100 {
    top: 2rem;
    height: 95rem;
    position: relative;
    background: #1890ff;
}
#deletetask{

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.4rem;
}